config TOOLCHAIN_SUPPORTS_ISR_TABLES_LOCAL_DECLARATION
    default y
config TOOLCHAIN_SUPPORTS_THREAD_LOCAL_STORAGE
    default y
config ZBOSS_PREBUILT_STACK_LTO
    default n

source "Kconfig.zephyr"
